{% load static %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom mx-3">
    <div class="col-md-4 mb-2 mb-md-0">
        <a href="/"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="bi me-2" width="40" height="32" src="{% static 'main/favicons/favicon-32x32.png' %}"/>
            <span class="fs-4">Сервис управления рассылками</span>
        </a>
    </div>
    {% include 'main/include/inc_menu.html' %}
    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-light me-2">Войти</button>
        <button type="button" class="btn btn-outline-warning">Регистрация</button>
    </div>
</header>