<ul class="nav nav-pills">
    <li class="nav-item">
        <a href="{% url 'main:home' %}" class="nav-link {% if current_url_name == 'home' %}active{% endif %}"
           aria-current="page">Список рассылки</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'main:mailing_create' %}"
           class="nav-link {% if current_url_name == 'mailing_create' %}active{% endif %}" aria-current="page">Создать
            новую рассылку</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link {% if current_url_name == '#' %}active{% endif %}">О сервисе</a>
    </li>
</ul>