{% extends 'main/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row text-center">
    <div class="col-4"></div>
    <div class="col-4">
        <h2>{% if form.instance.pk %}Резактирование{% else %}Создание{% endif %} клиента</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
            <a href="{% url 'main:clients' %}" class="btn btn-outline-secondary mt-2">Назад</a>
        </form>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}