{% extends 'main/base.html' %}
{% block content %}
<table class="table table-hover">
    {% for mailing in mailings %}
    <tr>
        <td class="text-end">
            <a href="{% url 'main:mailing_detail' mailing.pk %}" class="action">{{ mailing.title }} -
                {{mailing.scheduled_time|date:"DATETIME_FORMAT" }}</a>
        </td>
        <td>
            <a href="{% url 'main:mailing_edit' mailing.pk %}"
               class="btn btn-outline-light form-control">Редактировать</a>
        </td>
        <td>
            <a href="{% url 'main:mailing_delete' mailing.pk %}" class="btn btn-outline-danger form-control">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}